body {
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;
    gap: 10px;
    margin-top: 30px;
}

.subcontainer1 {
    width: 240px;
    border: 1px solid rgb(222, 216, 216);
    padding: 35px;
    padding-top: 0px;
}

.subcontainer2 {
    height: 40px;
    width: 290px;
    border: 1px solid rgb(222, 216, 216);
    padding: 10px;
}

#header {
    text-align: center;
    padding-top: 10px;
    font-family: "BBH Bogle", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.validation {
    display: grid;
    gap: 6px;
}

.validation input {
    padding: 10.5px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(222, 216, 216);
    background-color: rgb(243, 243, 245);
    font-size: 11px;
}

button {
    width: 100%;
    margin-top: 13px;
    padding: 5px;
    background-color: rgb(143, 143, 251);
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.line {
    position: relative;
    text-align: center;
    margin: 10px 0;
}

.line hr {
    border: none;
    border-top: 1px solid #dadde1;
}

.line span {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    padding: 0px 10px;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: 500;
    color: #7f8082;
}

.link {
    font-family: sans-serif;
    font-size: 14.4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.link img {
    height: 18px;
    width: 18px;
}

.link1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 12px;

}

#errormsg {
    color: rgb(238, 99, 99);
    font-size: 12px;
    text-align: center;
    font-family: sans-serif;
    line-height: 1.4;
    letter-spacing: 0.4px;
}

.fb {
    color: #1877F2;
    text-decoration: none;
    font-weight: 600;
}

.pass {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.subcontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 3px;
}

.subcontainer2 a {
    font-size: 12.9px;
    color: rgb(61, 61, 241);
    font-family: sans-serif;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.outer a {
    text-decoration: none;
    font-size: 11px;
    color: rgb(113, 98, 98);
    letter-spacing: 0.4;
}

.outer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 10px;
}

.select {
    margin-top: 20px;
    color: gray;
    border: none;
}

footer {
    color: gray;
    font-size: 12px;
    margin-top: 18px;
}